<p>Olá <%= @boleto[:name] %>,</p>

<p>Segue o boleto referente ao valor de <%= @boleto[:amount] %> com vencimento em <%= @boleto[:due_date] %>.</p>

<p>ID do Débito: <%= @boleto[:debt_id] %></p>

<p>Obrigado,</p>
<p>Sua Empresa</p>